/* @tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================
   GLOBAL BASE STYLES
   (NO @apply UTILITIES)
========================= */
@import "tailwindcss";
/* @layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  }
} */ 
